/* general */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Carter One", system-ui;
}

body {
    background-color: lightgray;
}

.h-0-75 {
    height:120px;
    width:auto;
}

.h-1 {
    height:160px;
    width:auto;
}

.w-1 {
    width:80px;
}

.w-1-5 {
    width:110px;
}

.w-2 {
    width:160px;
}

.flex {
    display: flex;
}

.flip-h {
  transform: scaleX(-1);
}

.text {
    text-align: center;
    align-content: center;
    font-weight: 1000;
}

/* components */

.transaction {
    height:240px;
    filter: drop-shadow(5px 1px 4px #222222);
}

.text-item {
    position: relative;
    font-size:1.7em;
    top:10px;
}

.text-player {
    position: relative;
    bottom:30px;
    color:white;
    font-weight: 1000;
    font-size:1.6em;
    font-stretch: condensed;
}

.text-game {
    position: relative;
    bottom:30px;
    color:white;
    font-size:1.0em;
    font-weight: 500;
}

.text-location {
    color:white;
    font-size:1.0em;
}

.recolor {
    filter: hue-rotate(var(--recolor));
}

.arrow {
    position: relative;
    top:-20px;
    left:20px;
}